
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px;
	padding: 0px;
	background-image:url(bg2.png);
	background-repeat:no-repeat;
	background-color:gold;	
}
#corner {
width: 480px;height:auto;
margin:auto;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}
#web{
width: 970px;height:1500;
border: 4px solid #020ba5;
background-image:url(bg1.png);
background-color:#020ba5;
margin:auto;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
box-shadow: 0px 2px 20px 20px #020ba5;

}
#header {
	width:950px;
	height:280px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(headereksper.png);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0px 0px 20px 20px #020ba5 inset;
	-webkit-box-shadow: 0px 0px 20px 20px #020ba5 inset;
	-moz-box-shadow: 0px 0px 20px 20px #020ba5 inset;
}
#container {
	margin: auto;
	text-align: center;
	width: 950px;
	background-color:transparent;
}
#nav {
	width:948px;
	height:39px;
	margin: 0px 0px 0px 0px;
	background-color:#020ba5;
	padding: 1px 1px 1px 1px;
}
#nav ul {
}
#nav li {
	display:inline;
	background-color:#008FD7;
	width:120px;
	height:30px;
	float:left;
	margin-left:20px;
	text-align:center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 1px 1px 1px 1px;
}
#nav a {
	width:120px;
	height:30px;
	text-decoration:none;
	color:#ffffff;
	font-weight:800;
	display:block;
}
#nav li a:hover {
	color:#020ba5;
	background-color:gold;
	font-weight:800;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 1px 1px 1px 1px;
}
#navselect {
	color:#020ba5;
	background-color:gold;
	font-weight:800;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 1px 1px 1px 1px;
}
#batas1 {
	width:950px; height:3px;
	margin-left:0x;
	background-color:gold;
	
}
#batas {
	width:950px; height:6px;
	margin-left:0x;
	background-color:gold;
}
#content {
	width:950px; height:950px;
	margin-left:0x;
	background-color:#a5cae5;
	
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
#welcome {
	width:200px;height:6px;
	background-color:#397eb7;
	color:gold;
	font-weight:900;
	padding: 0px 0px;
	margin: 2px 2px;
	display:inline;
}
#welcome1 {
	width:auto;height:auto;
	background-color:transparent;
	color:gold;
	font-weight:900;
	padding: 0px 0px;
	margin: 2px 2px;
	display:inline;
}
#header2 {
	width:970px;height:313px;
	background-color:#020ba5;
	border: 4px solid #020ba5;
	font-weight:900;
	padding: 0px 0px;
	margin: auto;
	display:flex;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	z-index: 1;
}
#left {
	float:left;
	width:230px;height:900px;
	display:inline;
	background-color:#397eb7;
	margin: 0px 0px 0px 0px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#left p {
	font-size: 12px;
	color: #ffffff;
	padding: 5px 5px;	
}
#left a{
	color: #052d4e;
	font-weight:800;
}
#left a:hover{
	color:#FFFFFF;
}
#left h1{
	font-size: 16px;
	color: #ffffff;
	display:inline;
	font-weight:900;
}
#left span{
	font-size: 12px;
	color: #007dda;
	font-weight: 900;
	display:inline;
	margin-left:8px;
}
#right {
	float:right;
	width:153px;
	background-color:#397eb7;
	color:#FFFFFF;
	font-weight:900;
	padding: 10px 20px;
	margin-top:20px;
	margin-right:4px;
	display:inline;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#right p{
	padding: 7px 0px;
	color:gold
}
#right a{
	color:#FFFFFF;
	font-weight:900;
	text-decoration:none;
}
#right a:hover{
	color: gold;
	text-decoration:none;
}
#tengah {
	float:left;
	width:500px;height:900px;
	display:block;
	background-color:#397eb7;
	margin-left:10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#tengah p {
	font-size: 14px;
	color: #ffffff;
	padding: 7px 15px;	
}
#tengah td {
	font-size: 12px;
	color: #ffffff;
	padding: 7px 15px;
	border-color:1px solid gold;
}
#tengah li {
	font-size: 12px;
	color: gold;	
}
#tengah a{
	color: #052d4e;
	font-weight:800;
}
#tengah a:hover{
	color:#FFFFFF;
}
#tengah h1{
	font-size: 16px;
	color: gold;
	display:inline;
	padding: 7px 15px;
	margin-top:3px;
	font-weight:900;
}
#tengah span{
	font-size: 12px;
	color: #007dda;
	font-weight: 900;
	display:inline;
	margin-left:8px;
}

#tengah1 {
	float:left;
	padding: auto;
	width:710px;height:944px;
	display:block;
	background-color:#397eb7;
	margin-left:10px;
}
#tengah1 td ,#tengah1 th{
	font-size: 7px;
	color: #ffffff;
	padding: 1px 1px;	
}
#tengah1 table{
	font-size: 7px;
	color: #ffffff;
	margin: 10px 10px;	
}
#cari {
	
	float:right;
	width:180px;
	margin-top:5px;
	margin-right:4px;
	height:50px;
	padding: 5px 5px;
	background-color:#397eb7;
	border: 2px solid gold;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
#kotakwaktu {
	
	float:right;
	width:180px;
	margin-top:20px;
	margin-right:4px;
	height:40px;
	padding: 10px 5px;
	background-color:#397eb7;
	border: 2px solid gold;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
#footer {
	width:950px;
	height:30px;
	background-color:#020ba5;
	text-align:center;
	color:#FFFFFF;
	margin-bottom: 0px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow: 0px 0px 20px 20px #020ba5;
}
#footer ul {
}
#footer li {
	display:inline;
	float:none;
	text-align:center;
}
#footer a {
	color:#FFFFFF;
	font-weight:900;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#footer span {
	display:block;
	clear:both;
	color:#FFFFFF;
	margin: 10px 0px;
}
#nav1 {
	width:230px;
	padding-left:0px;
	height:auto;
	margin: 0px 0px 2px 0px;
	background-color:transparent;
	padding: 1px 1px 1px 1px;
}
#nav1 ul {
}
#nav1 li {
	display:block;
	background-color:#020ba5;
	width:150px;
	height:30px;
	float:left;
	margin-left:2px;
	text-align:center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 2px 2px 2px 2px;
}
#nav1 a {
	width:150px;
	height:30px;
	text-decoration:none;
	color:#ffffff;
	font-weight:800;
	display:block;
	padding: 2px 2px 2px 2px;
}
#nav1 li a:hover {
	color:#020ba5;
	background-color:gold;
	font-weight:800;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 2px 2px 2px 2px;
	
}
#navselect1{
	color:#020ba5;
	background-color:gold;
	font-weight:800;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 2px 2px 2px 2px;
}
#kotak {
	width:200px;
	height:150px;
	float:left;
	margin:24px 20px;
	border: 4px solid gold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align:center;
	color:#FFFFFF;
	box-shadow: 10px 10px 10px #020ba5;
}
#kotak :hover {
	-webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	box-shadow: 0px 0px 5px 5px gold ;

}
img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#kotakposting{
	width:450;
	height:150px;
	float:center;
	padding:4px 4px 4px 4px;
	margin:7px 7px;
	border: 2px solid #008FD7;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align:justify;
	color:#FFFFFF;
	box-shadow: 0px 5px 5px 2px #020ba5;
}
aa {
	font-size:15px;
	text-decoration:none;
}
.wrapper {
  width: 700px;
  margin: 0 auto;
}
 
.zoom-effect {  
  position: relative;
  width: 100%;
  height: 360px;
  margin: 0 auto;
  overflow: hidden;  
}
 
.kotak {
  position: absolute;
  top: 0;
  left: 0;
  
}
 
.kotak img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 700px;
}
.zoom-effect:hover .kotak img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}